---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ${namespace}
  name: netshoot-deploy
  labels:
    app: netshoot
spec:
  selector:
    matchLabels:
      app: netshoot
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: netshoot
    spec:
      containers:
        - name: netshoot
          image: nicolaka/netshoot:latest
          command: ["/bin/sh", "-ec", "while :; do echo '.'; sleep 5 ; done"]
      imagePullSecrets:
        - name: regcred
